<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      {{task-list tasks=model removeAction="remove" updateAction="update"}}
      {{task-form action="create"}}
    </div>
  </div>
</div>
